{% extends "layout.html" %}

{% block other_headers %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<link rel="stylesheet" href="/static/css/chartist-plugin-tooltip.css">
<link rel="stylesheet" href="/static/css/chartist-my.css">
{% endblock %}


{% block title %}
Price
{% endblock %}

{% block body %}
<div class="">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <form>
                <div class="form-group">
                    <label for="">对标货币</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="usdtCheckbox" value="option1">
                        <label class="form-check-label" for="usdtCheckbox">USDT</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="btcCheckbox" value="option1">
                        <label class="form-check-label" for="btcCheckbox">BTC</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row justify-content-center">
            <form>
                <div class="form-group">
                    <label for="">时间</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="hourCheckbox" value="option2">
                        <label class="form-check-label" for="hourCheckbox">小时</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="dayCheckbox" value="option2">
                        <label class="form-check-label" for="dayCheckbox">天</label>
                    </div>
                </div>
            </form>
        </div>
        {% for each in charts %}
        <div class="row justify-content-center mt-2 mb-2 {{each.against}} {{each.time_unit}} ct-chart-parent">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-block text-dark" data-toggle="collapse" href="#{{each.chartid}}_collapse" aria-expanded="false" aria-controls="{{each.chartid}}_collapse">
                        <div class="row align-items-center">
                            <div class="col-5 col-sm-5 col-md-3 text-center"> <!-- col-4 col-sm-4 col-md-2 offset-md-1 text-center -->
                                <h6>{{each.target|upper}}/<small>{{each.against|upper}}</small></h6>
                                <h6 id="{{each.chartid}}_last"></h6>
                            </div>
                            <!--<div class="d-none d-sm-none d-md-block col-md-2 text-center"> col-4 col-sm-4 col-md-2 text-center
                                <h5>{{each.limit}}</h5>
                                <h6>{{each.time_unit|upper}}</h6>
                            </div>-->
                            <div class="d-none d-sm-none d-md-block col-md-4 text-center"> <!-- col-2 text-center-->
                                <h6>振幅</h6>
                                <h6 id="{{each.chartid}}_amplitude"></h6>
                            </div>
                            <div class="col-5 col-sm-5 col-md-3 text-center"> <!--col-4 col-sm-4 col-md-2 text-center-->
                                <h6>{{each.limit*each.time_elapse}} {{each.time_unit|upper}} <span id="{{each.chartid}}_icon_gain" class="oi" title="arrow" aria-hidden="true"></span></h6>
                                <h6 id="{{each.chartid}}_gain_percent"></h6>
                            </div>
                            <div class="col-1 col-sm-1 col-md-1">
                                <span class="oi oi-chevron-right animatearrow text-primary"></span>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="card-body collapse" id="{{each.chartid}}_collapse">
                        <div class="card-block">
                            <div class="ct-chart ct-perfect-fourth" id="{{each.chartid}}"></div>
                        </div>
                        <div class="card-block text-right">
                            <span class="oi oi-clock d-inline-block text-muted " title="clock" aria-hidden="true"></span>
                            <p class="card-subtitle text-muted d-inline-block " id="{{each.chartid}}_footage">
                                稍等正在
                            </p>
                            抓取
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block other_body %}
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="/static/js/chartist-plugin-tooltip.min.js"></script>
<script>
var responsiveOptions = [
  ['screen and (min-width: 641px) and (max-width: 1024px)', {
    showPoint: false,
  }],
  ['screen and (max-width: 640px)', {
    showPoint: false,
    showLine: false,
  }]
];

function generate_labels(prices, showDate=true, showTime=false){
    result = [];
    for (var i = 0; i < prices.length; i++) {
        m_date = new Date(prices[i]['date']*1000);
        label = [];
        if (showDate){
            label.push(m_date.toLocaleDateString('zh-Hans-CN'));
        }
        if (showTime){
            label.push(m_date.toLocaleTimeString('en-GB'));
        }
        result.push(label.join(' '));
    }
    return result;
}

function generate_serie(prices, attr){
    result = [];
    for (var i = 0; i < prices.length; i++) {
        m_date = new Date(prices[i]['date']*1000);
        result.push({
            meta: m_date.toLocaleString('en-CA'),
            value: prices[i][attr],
        });
    }
    return result;
}

function generate_amplitude(prices, attr){
    // Can be +9.5 or -199
    max = prices[0][attr];
    max_pos = 0;
    min = prices[0][attr];
    min_pos = 0;
    for (var i = 0; i < prices.length; i++) {
        if (prices[i][attr] > max){
            max = prices[i][attr];
            max_pos = i;
        }
        if (prices[i][attr] < min){
            min = prices[i][attr];
            min_pos = i;
        }
    }
    if(max_pos >= min_pos){
        return parseFloat((max - min).toFixed(4));
    } else {
        return parseFloat((min - max).toFixed(4));
    }
}

function generate_gain(prices, attr){
    start = prices[0][attr];
    end = prices[prices.length - 1][attr];
    return parseFloat((end - start).toFixed(4));
}

function generate_last(prices, attr){
    end = prices[prices.length - 1][attr];
    return end;
}

function generate_first(prices, attr){
    end = prices[0][attr];
    return end;
}

function generate_last_datetime(prices){
    m_date= new Date(prices[prices.length - 1]['date']*1000);
    return m_date.toLocaleDateString('zh-Hans-CN') + ' ' + m_date.toLocaleTimeString('en-GB');
}

function add_sign(n){
    r = n > 0? '+'+n.toString() : n.toString();
    return r;
}

function percent(a, b){
    return parseFloat(((a/b)*100).toFixed(2));
}

function fetchData(target, against, limit=10, time_elapse=1, time_unit='day', chartid, showDate=true, showTime=true){
    var sending_data = {
        target: target,
        against: against,
        limit: limit,
        time_elapse: time_elapse,
        time_unit: time_unit,
        newest: 'true',
    };

    $.ajax({
        type: "GET",
        url: "{{ get_price_url }}",
        data: sending_data,
        success : function(data, textStatus, jqXHR){
            // Whether login attempt fails or not, server replies.
            if (data['success'] == false) {
                ;
            } else {
                var my_data = {
                    labels: [],
                    series: []
                };
                my_data.labels = generate_labels(data['result'], showDate, showTime);
                my_data.series.push(generate_serie(data['result'],'high'));
                // my_data.series.push(generate_serie(data['result'],'start'));
                // my_data.series.push(generate_serie(data['result'],'low'));
                // my_data.series.push(generate_serie(data['result'],'end'));
                first_price = generate_first(data['result'], 'high');
                last_price = generate_last(data['result'], 'high');
                amplitude = generate_amplitude(data['result'], 'high');
                gain = generate_gain(data['result'], 'high');

                var my_options = {
                    showArea: true,
                    showPoint: true,
                    fullWidth: true,
                    axisX: {
                        labelInterpolationFnc: function(value, index, labels) {
                            // Show at most 4 labels on the axisX (small screen problem)
                            var divider = labels.length / 4;
                            return index % divider === 0 ? value : null;
                        },
                    },
                    axisY: {
                        offset: 50,
                        position: 'end'
                    },
                    plugins: [
                        Chartist.plugins.tooltip()
                    ]
                };
                new Chartist.Line('#'+chartid, my_data, my_options, responsiveOptions);

                $('#'+chartid+'_footage').text(generate_last_datetime(data['result']));
                $('#'+chartid+'_amplitude').text(percent(amplitude, first_price)+'%');
                $('#'+chartid+'_last').text(last_price);
                $('#'+chartid+'_gain_percent').text(add_sign(percent(gain, first_price))+'%');


                // Change Text color
                if (generate_gain(data['result'], 'high') > 0){
                    $('#'+chartid+'_last').addClass('text-success');
                    $('#'+chartid+'_gain_percent').addClass('text-success');
                    $('#'+chartid+'_amplitude').addClass('text-success');
                    $('#'+chartid+'_icon_gain').addClass('text-success');
                    $('#'+chartid+'_icon_gain').addClass('oi-arrow-circle-top');
                } else {
                    $('#'+chartid+'_last').addClass('text-danger');
                    $('#'+chartid+'_gain_percent').addClass('text-danger');
                    $('#'+chartid+'_amplitude').addClass('text-danger');
                    $('#'+chartid+'_icon_gain').addClass('text-danger');
                    $('#'+chartid+'_icon_gain').addClass('oi-arrow-circle-bottom');
                }
            }
        },
        error : function(jqXHR, textStatus, errorThrown){
            //  Network errors in general
            ;
        }
    });
}
{% for each in charts %}
$(document).ready(fetchData("{{each.target}}", "{{each.against}}", "{{each.limit}}", "{{each.time_elapse}}", "{{each.time_unit}}", '{{each.chartid}}', {{each.showDate|lower}}, {{each.showTime|lower}})); // 页面载入完毕，立即触发初始化
{% endfor %}
</script>
<script>
function updateState(){
    var states = {
        'day': false,
        'min': false,
        'usdt': false,
        'btc': false,
    };

    if ($('input:checkbox#dayCheckbox').is(':checked')) {
        states['day']= true;
    } else {
        states['day']= false;
    }
    
    if ($('input:checkbox#hourCheckbox').is(':checked')) {
        states['hour']= true;
    } else {
        states['hour']= false;
    }

    if ($('input:checkbox#usdtCheckbox').is(':checked')) {
        states['usdt']= true;
    } else {
        states['usdt']= false;
    }

    if ($('input:checkbox#btcCheckbox').is(':checked')) {
        states['btc']= true;
    } else {
        states['btc']= false;
    }

    $('.ct-chart-parent').each(function(index){
        to_be_shown = [];
        current = $(this);
        Object.keys(states).forEach(function(key) {
            if (current.hasClass(key)){
                to_be_shown.push(states[key]);
                console.log(to_be_shown);
            }
        });
        if (to_be_shown.indexOf(false) >= 0 ){
            $(this).addClass('d-none');
        } else {
            $(this).removeClass('d-none');
        }
    });
}
$('input:checkbox#usdtCheckbox').change(function(){
    updateState();
});

$('input:checkbox#hourCheckbox').change(function(){
    updateState();
});

$('input:checkbox#dayCheckbox').change(function(){
    updateState();
});

$('input:checkbox#btcCheckbox').change(function(){
    updateState();
});

$(document).ready($('input:checkbox').prop('checked', true));
</script>
<script>
$('.collapse').on('shown.bs.collapse', function () {
    $(this).find('.ct-chart').each(function (index, element){
        element.__chartist__.update();
    });

    var current_id = $(this).attr('id');
    $('.collapse').not('#'+current_id).collapse('hide');

    $(this).parent('.card').find('.animatearrow').removeClass('oi-chevron-right').addClass('oi-chevron-bottom').removeClass('text-primary').addClass('text-secondary');

})

$('.collapse').on('hide.bs.collapse', function () {
    $(this).parent('.card').find('.animatearrow').removeClass('oi-chevron-bottom').addClass('oi-chevron-right').removeClass('text-secondary').addClass('text-primary');
}) 
</script>
{% endblock %}