{% extends "layout.html" %}

{% block other_headers %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
{% endblock %}


{% block title %}
Price Example
{% endblock %}

{% block body %}
<div class="">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <form>
                <div class="form-group">
                    <label for="">Currency</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="usdtCheckbox" value="option1">
                        <label class="form-check-label" for="usdtCheckbox">Show USDT</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="btcCheckbox" value="option1">
                        <label class="form-check-label" for="btcCheckbox">Show BTC</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row justify-content-center">
            <form>
                <div class="form-group">
                    <label for="">Time</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="minCheckbox" value="option2">
                        <label class="form-check-label" for="minCheckbox">Show Min</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="dayCheckbox" value="option2">
                        <label class="form-check-label" for="dayCheckbox">Show Day</label>
                    </div>
                </div>
            </form>
        </div>
        {% for each in charts %}
        <div class="row justify-content-center mt-5 {{each.against}} {{each.time_unit}} ct-chart-parent">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        {{each.target|upper}}/{{each.against|upper}} - {{each.time_unit}}
                    </div>
                    <div class="card-block">
                        <div class="ct-chart ct-perfect-fourth" id="{{each.chartid}}"></div>
                    </div>
                    <div class="card-block text-right">
                        <span class="oi oi-clock d-inline-block text-muted " title="clock" aria-hidden="true"></span>
                        <h6 class="card-subtitle mr-5 text-muted d-inline-block " id="{{each.chartid}}_footage">
                            Card subtitle
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block other_body %}
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script>
var my_options = {
    showArea: true,
    showPoint: true,
    fullWidth: true,
    axisX: {
        labelInterpolationFnc: function(value, index, labels) {
            // Show at most 4 labels on the axisX (small screen problem)
            var divider = labels.length / 4;
            return index % divider === 0 ? value : null;
        },
    },
    axisY: {
        offset: 60,
        position: 'end'
    }
}

function generate_labels(prices, showDate=true, showTime=false){
    result = [];
    for (var i = 0; i < prices.length; i++) {
        m_date = new Date(prices[i]['date']*1000);
        label = [];
        if (showDate){
            label.push(m_date.toLocaleDateString('zh-Hans-CN'));
        }
        if (showTime){
            label.push(m_date.toLocaleTimeString('en-GB'));
        }
        result.push(label.join(' '));
    }
    return result;
}

function generate_serie(prices){
    result = [];
    for (var i = 0; i < prices.length; i++) {
        result.push(prices[i]['end']);
    }
    return result;
}

function generate_last_datetime(prices){
    m_date= new Date(prices[prices.length - 1]['date']*1000);
    return m_date.toLocaleDateString('zh-Hans-CN') + ' ' + m_date.toLocaleTimeString('en-GB');
}

function fetchData(target, against, limit=10, time_unit='day', chartid, showDate=true, showTime=true, chartfootageid){
    var sending_data = {
        target: target,
        against: against,
        limit: limit,
        time_unit: time_unit,
    };

    $.ajax({
        type: "GET",
        url: "{{ get_price_url }}",
        data: sending_data,
        success : function(data, textStatus, jqXHR){
            // Whether login attempt fails or not, server replies.
            if (data['success'] == false) {
                ;
            } else {
                var my_data = {
                    labels: [],
                    series: []
                };
                my_data.labels = generate_labels(data['result'], showDate, showTime);
                my_data.series.push(generate_serie(data['result']));
                new Chartist.Line('#'+chartid, my_data, my_options);
                $('#'+chartfootageid).text(generate_last_datetime(data['result']))
            }
        },
        error : function(jqXHR, textStatus, errorThrown){
            //  Network errors in general
            ;
        }
    });
}
{% for each in charts %}
$(document).ready(fetchData("{{each.target}}", "{{each.against}}", "{{each.limit}}", "{{each.time_unit}}", '{{each.chartid}}', {{each.showDate|lower}}, {{each.showTime|lower}}, '{{each.chartid}}_footage')); // 页面载入完毕，立即触发初始化
{% endfor %}
</script>
<script>

function updateState(){
    var states = {
        'day': false,
        'min': false,
        'usdt': false,
        'btc': false,
    };

    if ($('input:checkbox#dayCheckbox').is(':checked')) {
        states['day']= true;
    } else {
        states['day']= false;
    }
    
    if ($('input:checkbox#minCheckbox').is(':checked')) {
        states['min']= true;
    } else {
        states['min']= false;
    }

    if ($('input:checkbox#usdtCheckbox').is(':checked')) {
        states['usdt']= true;
    } else {
        states['usdt']= false;
    }

    if ($('input:checkbox#btcCheckbox').is(':checked')) {
        states['btc']= true;
    } else {
        states['btc']= false;
    }

    $('.ct-chart-parent').each(function(index){
        to_be_shown = [];
        current = $(this);
        Object.keys(states).forEach(function(key) {
            if (current.hasClass(key)){
                to_be_shown.push(states[key]);
                console.log(to_be_shown);
            }
        });
        if (to_be_shown.indexOf(false) >= 0 ){
            $(this).addClass('d-none');
        } else {
            $(this).removeClass('d-none');
        }
    });
}
$('input:checkbox#usdtCheckbox').change(function(){
    updateState();
});

$('input:checkbox#minCheckbox').change(function(){
    updateState();
});

$('input:checkbox#dayCheckbox').change(function(){
    updateState();
});

$('input:checkbox#btcCheckbox').change(function(){
    updateState();
});

$(document).ready($('input:checkbox').prop('checked', true));
</script>
{% endblock %}