{% extends "layout.html" %}

{% block title %}
Status
{% endblock %}

{% block body %}
<div class="">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <ul class="col-xs-12 col-sm-10 col-md-6 list-group">
                {% if last_cron %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="">Cron<small class="text-danger">({{count_cron}})</small></h6>
                        <small class="text-success">{{ last_cron.date }}</small>
                    </div>
                </li>
                {% endif %}
                {% if prices %}
                {% for each in prices %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="">{{each.first.target|upper}}/<small>{{each.first.against|upper}}<span class="text-danger">({{each.count}})</span></small></h6>
                        <small class="text-success">{{each.last.date}}</small>
                    </div>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock%}

{% block other_body %}
{% endblock %}